$start-color: $primary;
$end-color: $secondary;
// 水平方向的漸層
@mixin gradient-x($start-color: $primary, $end-color: $secondary) {
    background-image: linear-gradient(to right, $start-color, $end-color);
  }
  
  // 垂直方向的漸層
@mixin gradient-y($start-color: $primary, $end-color: $secondary) {
    background-image: linear-gradient(to bottom, $start-color, $end-color);
}