//存放所有背景設定

//navbar 背景顏色
.nav-bg-color{
    background-color: #7000FF;
}

//首頁 banner 背景顏色
.hb-bg-color{
    background-color:linear-gradient(to bottom, #7000FF, #11002D);
}

//首頁 what is  背景顏色
.homeInfo-bg-color{
    background-color: linear-gradient(to right, #300871, #000000);
}

//  主背景顏色
.main-bg-color{
    background-color: radial-gradient(circle closest-side at center, #28085C, #000000);
}

//首頁 user-share 背景顏色
.huser-bg-color{
    background-color: radial-gradient(circle closest-side at center, #000000, #28085C);
}

//首頁 contact 背景顏色
.hcontact-bg-color{
    background-color: #1F0F39;
}

// 卡片 背景顏色
.card-bg-color{
    background: #380C7E;
}


