<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>最新消息 - 產品升級公告</title>
  </head>
  <body>
    
    <!-- navbar -->
    <%- include('./layout/header'); -%>
    
    <!-- news title -->
    <div class="article">
        <h2 class="font-Noto">最新消息</h2>
        <div class="container">
            <div class="arround">
                <div class="artiImg">
                    <a href="firstHand.html"><span class="material-symbols-outlined">north_west</span>返回</a>
                    <img class="d-none d-lg-block" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/news/news_in.png?raw=true" alt="news-in-pc">
                    <img class="d-block d-lg-none" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/mobile/news_in_mobile.png?raw=true" alt="news-in-mobile">
                </div>
                <div class="artiContent">
                  <div class="firstContent">
                    <div class="iconDate">
                      <span class="material-symbols-outlined text-white me-3">emergency</span>
                      <p class="text-white">2023.06.30</p>
                    </div>
                    <p class="ft-title text-white fw-bold pronew fs-20">產品升級公告</p>
                    <p class=" text-white">親愛的客戶們：</p>
                    <p class=" text-white">我們榮幸地向您宣布，經過不懈的努力與研發，ALPHABOX+ 已成功完成最新一代的升級！這次的升級將為您帶來更<!--<br class="d-none d-lg-block">-->
                      高的投影解析度、更精準的語音辨識技術，以及更豐富的情感識別功能。我們致力於為您打造最佳的陪伴機器人，讓<!--<br class="d-none d-lg-block">-->科技更貼近您的生活。
                    </p>
                    <p class=" text-white">
                      在這次升級中，我們提升了投影解析度，讓影像更加清晰細緻，呈現出更真實的視覺效果。您將能夠更加享受在家中<!--<br class="d-none d-lg-block">-->
                      觀看高清影片或欣賞美景的樂趣。同時，我們優化了語音辨識技術，使機器人能更迅速且準確地識別您的聲音指令，<!--<br class="d-none d-lg-block">-->
                      提高互動體驗。
                    </p>
                    <p class=" text-white">
                      此外，我們增加了情感識別功能，使得機器人能更好地理解您的情緒，並根據您的需求提供適當的陪伴與支持。無論<!--<br class="d-none d-lg-block">-->
                      您需要傾聽、建議還是安慰，ALPHABOX+ 都將成為您身邊的貼心夥伴。
                    </p>
                    <p class=" text-white">
                      為感謝您一直以來對我們的支持，我們將在本月舉辦限時優惠活動，凡購買升級版3D立體投影陪伴機器人的客戶，均<!--<br class="d-none d-lg-block">-->
                      可享有九折優惠。機會難得，千萬不要錯過喔！
                    </p>
                    <p class=" text-white">
                      在未來的日子裡，我們將繼續投入研發，並積極採納用戶意見，以不斷完善產品功能並提高使用體驗。同時，我們承<!--<br class="d-none d-lg-block">-->
                      諾會為您提供優質的售後服務，確保您在購買與使用過程中得到全面支持。
                    </p>
                    <p class=" text-white">
                      再次感謝您對我們的信任與支持，讓我們攜手共創更美好的未來！若您對升級版3D立體投影陪伴機器人有任何疑問或<!--<br class="d-none d-lg-block">-->
                      建議，請隨時與我們的客服團隊聯繫，我們將竭誠為您解答。
                    </p>
                    <p class=" text-white">
                      敬祝 興旺發達！
                    </p>
                    <p class=" text-white">ALPHABOX+ 團隊敬上 </p>
                  </div>
                  <div class="contentArrow">
                    <div class="leftArrow">
                      <a href="#"><img src="/assets/images/line_start_arrow_notch1.png" alt="line-start"></a>
                      <a href="#"><P class=" text-white d-none d-lg-block">限時優惠活動</P></a>
                      <p class=" text-white d-block d-lg-none">上一則</p>
                    </div>
                    <div class="rightArrow">
                      <img  src="/assets/images/line_end_arrow_notch1.png" alt="line-end">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 首頁 表尾 -->
    <%- include('./layout/footer'); -%>

    
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>