<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>關於我們</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include('./layout/header'); -%>
    
    <!-- contact us title -->
    <div class="contact">
      <div class="contact-title">
        <div class="container">
          <h2 class=" fw-bold font-Noto text-white">聯絡我們</h2>
        </div>
      </div>
      <div class="contact-content">
        <div class="content-form me-5">
          <p class="font-Noto text-white">您的意見與需求對我們至關重要！如果您對 ALPHABOX+ 有任何疑問、建議或需求，請隨<br class="d-none d-lg-block">
            時填寫以下表單，我們將在 24 小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服<br class="d-none d-lg-block">務，為您帶來更優質的體驗。</p>
          <p class="font-Noto text-white">我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！</p>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInputName" placeholder="name">
            <label for="floatingInputName">姓名</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="floatingTel" placeholder="聯絡電話">
            <label for="floatingTel">聯絡電話</label>
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
          </div>
          <div class="form-btn">
            <a href="#" class="col-6 fbtn btn-primary d-flex text-center">
              <span class="material-symbols-outlined">point_scan</span>
              <p class="m-0">送出</p>
            </a>
          </div>
        </div>
        <ul class="workTime list-unstyled ms-lg-5">
          <li class="service mb-5">
            <p class="sTitle">客服時間</p>
            <span class="ans">週一至週五 09:00-18:00</span>
          </li>
          <li class="addre mb-5">
            <p class="sTitle">聯絡地址</p>
            <span class="ans">高雄市新興區民生一路 56 號</span>
          </li>
          <li class="telPhone">
            <p class="sTitle">聯絡地址</p>
            <span class="ans"><a href="tel:+886-2-12345678">+886-2-12345678</a></span>
            <span class="ans"><a href="mailto:customer@alphabox.com">customer@alphabox.com</a></span>
          </li>
        </ul>
      </div>
      <ul class="contact-menu list-unstyled">
        <li class="contactItem"><a href="#" class="contat-nav font-Noto">INSTAGRAM</a></li>
        <li class="contactItem"><a href="#" class="contat-nav font-Noto">FACEBOOK</a></li>
        <li class="contactItem"><a href="#" class="contat-nav font-Noto">TWITTER</a></li>
        <li class="contactItem"><a href="#" class="contat-nav font-Noto">LINKEDIN</a></li>
      </ul>
    </div>

    <!-- contact - choice role -->
    <div class="choice">
      <div class="container choice-title">
        <h2 class="font-Noto">選擇自己<br class="d-block d-lg-none">要的角色</h2>
        <p class="font-Noto"><span>20K+</span>使用者喜歡我們的服務</p>
      </div>

      <ul class="choice-content list-unstyled">
        <li class="roleDiane">
          <img class="d-none d-lg-block" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/horizontal/diane_horizontal.png?raw=true" alt="diane">
          <img class="d-block d-lg-none" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/mobile/diane_choose.png?raw=true" alt="moblie-diane">
          <p class="font-Shrikhand fw-bold">Diane</p>
        </li>
        <li class="roleFelix d-flex flex-row-reverse">
          <img class="d-none d-lg-block" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/horizontal/felix_horizontal.png?raw=true" alt="pc-Felix">
          <img class="d-block d-lg-none" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/mobile/felix_choose.png?raw=true" alt="mobile-Felix">
          <p class="font-Shrikhand fw-bold">Felix</p>
        </li>
        <li class="roleKarina">
          <img class="d-none d-lg-block" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/horizontal/karina_horizontal.png?raw=true" alt="pc-Karina">
          <img class="d-block d-lg-none" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/mobile/karina_choose.png?raw=true" alt="mobile-Karina">
          <p class="font-Shrikhand fw-bold">Karina</p>
        </li>
        <li class="roleVito d-flex flex-row-reverse">
          <img class="d-none d-lg-block" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/horizontal/vito_horizontal.png?raw=true" alt="pc-Vito">
          <img class="d-block d-lg-none" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/mobile/vito_choose.png?raw=true" alt="mobile-Vito">
          <p class="font-Shrikhand fw-bold">Vito</p>
        </li>
      </ul>
    </div>

    <!-- 首頁 表尾 -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
