<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/head'); -%>
    <title>產品 - Vito</title>
</head>
<body>
    <!-- navbar -->
    <%- include('./layout/header'); -%>

    <!-- 第二 menu bar -->
    <div class="topMenu">
        <div class="container">
            <ul class="ai-names list-unstyled">
                <li class="nameBtn"><a href="product-diane.html" class="aibtn rounded-pill">Diana</a></li>
                <li class="nameBtn"><a href="product-felix.html" class="aibtn rounded-pill">Felix</a></li>
                <li class="nameBtn"><a href="product-karina.html" class="aibtn rounded-pill">Karina</a></li>
                <li class="nameBtn"><a href="product-vito.html" class="aibtn rounded-pill active">Vito</a></li>
            </ul>
        </div>
    </div>

    <!-- diane banner -->
    <div class="intro-banner">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_square1.png?raw=true" alt="vito-square圖1">
              </div>
              <div class="swiper-slide">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_square2.png?raw=true" alt="vito-square圖2">
              </div>
            </div>
            <div class="swiper-button-next">
                <img src="/assets/images/Property 1=Default.png" alt="circle-right">
            </div>
            <div class="swiper-button-prev">
                <img src="/assets/images/arrow_circle_left.png" alt="circle-left">
            </div>
        </div>
        <div class="intro">
                <h2>Vito</h2>
                <p>情感型</p>
                <p>情感識別/心情分析/心靈支持</p>
                <img src="/assets/images/line_end_arrow_notch.png" alt="line_end">
        </div>
        <a href="#" class="middle-icon"><img src="/assets/images/Group 1.png" alt="down-icon"></a>
    </div>

    <!-- diane 技術說明 -->
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-lg-2 mb-lg-5 d-flex justify-content-between">
          <div class="col">
            <div class="d-flex">
              <span class="material-symbols-outlined footerIcon">emergency</span>
              <p class="fw-bold">學術領導/知識分享/智能問答</p>
            </div>
            <p class="wel fw-bold">歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地<br>向您介紹我們的最新力作 - 3D立體投影機器人 Felix！</p>
          </div>
          <div class="col d-none d-lg-block">
            <p class="text-end text-dark">ALPHABOX+</p>
          </div>
        </div>
        
        <ul class="row row-cols-1 row-cols-lg-3">
          <li class="col">
            <div class="firstli">
              <h4 class="middle-line">先進的3D投影技術</h4>
              <p>Vito 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
            </div>
          </li>
          <li class="col">
            <div class="firstli">
              <h4 class="middle-line">人性化的互動設計</h4>
              <p>Vito 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Vito  進行自然、流暢的對話。</p>
            </div>
          </li>
          <li class="col">
            <div class="firstli">
              <h4 class="middle-line">豐富的應用場景</h4>
              <p>無論是家庭娛樂、教育培訓還是商業展示，Vito 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
            </div>
          </li>
          <li class="col">
            <div class="firstli">
              <h4 class="middle-line">高度自主性</h4>
              <p>Vito 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
            </div>
          </li>
          <li class="col">
            <div class="firstli">
              <h4 class="middle-line">簡單易用的操作界面</h4>
              <p>Vito 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
            </div>
          </li>
        </ul>
    </div>

    <!-- diane user share -->
    <div class="intro-userShare">
      <div class="container">
        <div>
          <h4>使用分享</h4>
          <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放<br>心選擇。</p>
        </div>
        <ul class="row row-cols-1 row-cols-lg-3 list-unstyled shareCard">
          <li class="col cardItem">
            <div class="card-slide card-bg-color">
              <div class="cardContent fw-bold">
                <h3 class="text-white  mb-4 mb-lg-5">Zichi<span class="material-symbols-outlined text-white fs-8 align-self-center">fiber_manual_record</span>Kaohsiung</h3>
                <p>自從家裡有了Felix，孩子們的學習興趣提高了不少，他們都喜歡透過Felix的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！</p>
              </div>
              <div class="cardBottom d-flex">
                <span class="material-symbols-outlined text-white">fiber_manual_record</span>
                <span class="material-symbols-outlined text-white">fiber_manual_record</span>
                <p>ALPHABOX+ Felix</p>
              </div>
            </div>
          </li>
          <li class="col cardItem">
            <div class="card-slide bg-white">
              <div class="cardContent text-dark fw-bold">
                <h3 class=" mb-4 mb-lg-5">Lee<span class="material-symbols-outlined text-dark fs-8 align-self-center">fiber_manual_record</span>Chiayi</h3>
                <p class="text-dark">自從公司引入 Felix，員工的工作效率提升了很多。Felix 不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！</p>
              </div>
              <div class="cardBottom d-flex text-dark">
                <span class="material-symbols-outlined text-dark">fiber_manual_record</span>
                <span class="material-symbols-outlined text-dark">fiber_manual_record</span>
                <p class="text-dark">ALPHABOX+ Felix</p>
              </div>
            </div>
          </li>
          <li class="col cardItem">
            <div class="card-slide card-bg-color">
              <div class="cardContent">
                <h3 class="text-white mb-4 mb-lg-5">瑞<span class="material-symbols-outlined text-white fs-8 align-self-center">fiber_manual_record</span>Taipei</h3>
                <p>Felix 讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Felix給所有的教育工作者！</p>
              </div>
              <div class="cardBottom d-flex">
                <span class="material-symbols-outlined text-white">fiber_manual_record</span>
                <span class="material-symbols-outlined text-white">fiber_manual_record</span>
                <p>ALPHABOX+ Felix</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- 首頁 表尾 -->
    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
</body>
</html>